body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

nav {
    height: 80px;

    border-bottom: 2px solid #999;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px 10px;
}

nav a:hover {
    color: #444444;
}

main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.profile-picture img {

    width: 300px;
    height: 300px;

    object-fit: cover;
    border-radius: 50%;

}

.information {
    width: 443px;
}

.halo {
    font-size: 18px;
    margin: 0 0 0 0;
}

h1 {
    font-size: 48px;
    margin: 0 0 50px 0;
}

.personal-information p {
    font-size: 24px;
    margin: 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}

.contact a {
    display: flex;

    text-decoration: none;
    color: black;
    font-size: 18px;
    align-items: center;
    gap: 5px;
}

.contact a:hover {
    color: #444444;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

footer p {
    font-size: 12px;
    color: #777777;
}